<!DOCTYPE html>
<html lang='en-UK'>
<!––  br and hr tags are empty  ––>
<head>
<script> function firstjsfunction() {
    var w,x,y,z,person;
    w=null;
    x=5;
    y=4;
    z=x/y;
    person={firstname:"Imad",lastname:"Rajwani",age:21};
    function fullName() {return person.firstname + " " + person.lastname}
    document.getElementById("demo").innerHTML = fullName();
    
} 
function summation() { 
var i=1;
var r=3;
var s;
for(i=1,i<4,i++) {s=r^i+r^(i-1)};

document.getElementById("powers").innerHTML=summation();
}
</script>
<title>GAZZETTE</title>

</head>

<body>

<h1> GAZZETTE </h1>
<meta charset="utf-8">
<style> 
body {
     margin: 0;
     background: #92;
     min-width: 960px;
}

h1 {
    font-family: verdana;
    font-size: 200%;
    color: white;
    text-align: center;
}

p {
    font-family: verdana; 
    font-size: 15px;
    text-align: center;
}
#caption {color:green}

#firsthalf {
          text-align: center;
          color: green;
          
}

#tableone {color:orange}

#demo { text-align: middle;
       color: green;}
#duckett {color:red;}
#powers {text-align: middle;
         color:blue;}
#predefinedtext {color:red;}         
#email {color:orange;}
</style>

<style> 
img {
width:100%;
}

</style>

<h2 id='top' style="color:yellow;background-color:rgb(200,150,210)">
<i> KILLER SHARK </i>
</h2>
<a id='email' href='mailto:irajwani@bates.edu'> Click here to email me! </a>
<pre id='predefinedtext'> Some predefined text in courier format </pre>
<figure><img src = "https://i.ytimg.com/vi/aCU1d4CZ_Ag/hqdefault.jpg" alt = "Killer Shark" style="width:304px;height:228px;" align='right'><figcaption id='caption'>This is the caption for this cool shark</figcaption></figure>
<hr>
<p title='Pretty badass description of CSS' id="firsthalf"> css stands for cascading style documents </p>
<form action="http://www.example.com/login.php"> <p>Username:
    <input type="text" name="username" size="15"
      maxlength="30" /> </p> 
<p>Password: <input type="password" name="password" maxlength="30" /> </p>
<p> What do you think of this site? </p> <textarea name="comments" cols="20" rows="4">Enter
your comments...</textarea>
<br/>
<p>Please select your favorite genre:
    <br />
    <input type="radio" name="genre" value="rock"
checked="checked" /> Rock
<input type="radio" name="genre" value="pop" />
Pop
    <input type="radio" name="genre" value="jazz" />
Jazz
</p>
<!-- drop down lists work better when there are numerous options -->
<p>What device do you listen to music on?</p> 
<select name="devices">
<option value="ipod">iPod</option> <option value="radio">Radio</option> <option value="computer">Computer</option>
  </select>
</form>
<!-- when allowing users to upload files, -->
<form action="http://www.example.com/upload.php" method="post">
<p>Upload your song in MP3 format:</p>
<input type="file" name="user-song" /><br /> <input type="submit" value="Upload" />
</form>
<p id='duckett'>Movie Reviews: <ul>
<li><a href="http://www.empireonline.com"> Empire</a></li>
<li><a href="http://www.metacritic.com"> Metacritic</a></li>
<li><a href="http://www.rottentomatoes.com"> Rotten Tomatoes</a></li>
<li><a href="http://www.variety.com"> Variety</a></li>
</ul> </p> 
<!-- dont forget rowspan and colspan as attributes for th and you can also fix the header and footer using thead tbody and tfoot -->
<table id='tableone' width='400' border='3' bgcolor=#efefef>
<tr>
<th></th>
<th scope="col">first column</th> <th scope="col">second column</th>
</tr>
<tr>
<th scope = "row">first row</th>
<td>first entry</td><td>second entry</td>
</tr>
<tr bgcolor=#cccccc>
<th scope = 'raw'>second row</th>
<td>the first entry is moot</td>
<td>the second entry is also moot</td>
</tr>
</table>
<p id='duckett'> This is <b> bold text </b>, whereas this is <i> italic text </i>, and this is a 2009<sub>subscript</sub> while this is a E=MC<sup>superscript</sup></p>
<p id='duckett'><strong>Beware:</strong> Pickpockets operate in this area.</p>
<blockquote cite="http://en.wikipedia.org/wiki/ Winnie-the-Pooh">
<p id='duckett'>Did you ever stop to think, and forget to start
again?</p> </blockquote>
<p id='duckett'>As A.A. Milne said, <q>Some people talk to animals. Not many listen though. That's the problem.</q></p>
<p><abbr title="Professor">Prof</abbr> Stephen Hawking is a theoretical physicist and cosmologist.</p>
<p><acronym title="National Aeronautics and Space Administration">NASA</acronym> do some crazy space stuff.</p>
<p>It was the <del>worst</del> <ins>best</ins> idea she had ever had.</p>
<div> <p id="demo">A Paragraph</p> <br> 
<p id='demo'> Note the horizontal break in line </p>
<hr> <p id='demo'> Similarly note the thematic segmentation using a horizontal line </p>
<button type="button" onclick="firstjsfunction()">Try it</button> </div>
<div> <button onclick="document.write(4*9)"> some math </button> </div>
<div> <p id="powers"> for loop to add powers of one number</p>
<button type="button" onclick="summation()"> powers of 3 </button>  </div>
<button onclick="document.write(5*6)"> what happens when you multiply 5 and 6? </button>

<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var width = Math.max(960, innerWidth),
    height = Math.max(500, innerHeight);

var x1 = width / 2,
    y1 = height / 2,
    x0 = x1,
    y0 = y1,
    i = 0,
    r = 200,
    τ = 2 * Math.PI;

var canvas = d3.select("body").append("canvas")
    .attr("width", width)
    .attr("height", height)
    .on("ontouchstart" in document ? "touchmove" : "mousemove", move);

var context = canvas.node().getContext("2d");
context.globalCompositeOperation = "lighter";
context.lineWidth = 2;

d3.timer(function() {
  context.clearRect(0, 0, width, height);

  var z = d3.hsl(++i % 360, 1, .5).rgb(),
      c = "rgba(" + z.r + "," + z.g + "," + z.b + ",",
      x = x0 += (x1 - x0) * .1,
      y = y0 += (y1 - y0) * .1;

  d3.select({}).transition()
      .duration(2000)
      .ease(Math.sqrt)
      .tween("circle", function() {
        return function(t) {
          context.strokeStyle = c + (1 - t) + ")";
          context.beginPath();
          context.arc(x, y, r * t, 0, τ);
          context.stroke();
        };
      });
});

function move() {
  var mouse = d3.mouse(this);
  x1 = mouse[0];
  y1 = mouse[1];
  d3.event.preventDefault();
}

</script>

<p><a href="#top">Top</a></p>
</body>


</html>
